.nav_container{
    
    display: flex;
    padding: 15px 30px;
    margin:auto;
    background-color: rgb(3, 3, 70);
    justify-content: space-around;
    margin-bottom: 20px;
}
.nav_letter>a{
    text-decoration: none;
    color:white;
    font-size: 18px;
}
.nav_container>input{
    width:50%;
    padding:10px;
}